body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.interface {
    position: absolute;
    top: 0;
    right: 350px;
    bottom: 0;
    left: 0;
    height: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.interface .input, .interface .output {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    padding-bottom: 0;
    box-sizing: border-box;
    white-space: pre;
}

.interface .input {
    overflow: auto;
    border: none;
    outline: none;
    background: none;
    resize: none;
}

.interface .output {
    overflow: hidden;
}

.interface .output div {
    display: block;
}

.interface .output .prefix:before {
    content: attr(data-prefix);
    color: lightgrey;
}

.interface .output .data {
    z-index: 1;
    position: relative;
}

.interface .output .empty {
    visibility: hidden;
}

.interface .output .result {
    color: silver;
}

.interface .output .error {
    color: red;
}


.info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 350px;
    padding: 40px;
    box-sizing: border-box;
    overflow: auto;
    font-family: Arial;
}

.info h1 {
    margin-top: 0;
    margin-bottom: 0px;
}

.info h2 {
    margin-bottom: 0px;
}

.info hr {
    border: 1px solid #E6E6E6;
    border-bottom: none;
}

.info pre:after {
    content: attr(data-result);
    color: grey;
}