body {
    margin: 0;
    padding: 0;
}

.interface {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.interface .input, .interface .output {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    border: none;
    margin: 0;
    font-family: 'Menlo', 'Monaco', 'Consolas', courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-break: break-word;
}

.interface .input {
    overflow: auto;
    outline: none;
    background: none;
    resize: none;
    padding: 20px;
}

.interface .output {
    overflow: hidden;
    padding: 20px 0;
}

.interface .output div {
    display: block;
    padding: 0 20px;
}

.interface .output div.highlight {
    background-color: #f9f9f9;
}

.interface .output .code {
    color: #E9E9E9;
}

.interface .output .code:before {
    content: attr(data-code);
}

.interface .output .hint:before {
    content: attr(data-prefix);
    color: #E9E9E9;
    white-space: pre;
}

.interface .output .hint {
    z-index: 1;
    position: absolute;
    white-space: pre;
}

.interface .output .help {
    color: silver;
}

.interface .output .result {
    color: silver;
}

.interface .output .error {
    color: red;
}

@media (prefers-color-scheme: dark) {
    body, textarea {
        background-color: #212121;
        color: #EEEEEE;
    }
    
    .interface .output div.highlight {
        background-color: #424242;
    }

    .interface .output .code {
        color: #616161;
    }

    .interface .output .hint:before {
        color: #616161;
    }

    .interface .output .help {
        color: #757575;
    }

    .interface .output .result {
        color: #757575;
    }
}
