body {
    margin: 0;
    padding: 0;
}

.interface {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.interface .input, .interface .output {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    box-sizing: border-box;
    white-space: pre;
}

.interface .input {
    overflow: auto;
    border: none;
    outline: none;
    background: none;
    resize: none;
}

.interface .output {
    overflow: hidden;
}

.interface .output div {
    display: block;
}

.interface .output .prefix:before {
    content: attr(data-prefix);
    color: lightgrey;
}

.interface .output .data {
    z-index: 1;
    position: relative;
}

.interface .output .empty {
    visibility: hidden;
}

.interface .output .result {
    color: silver;
}

.interface .output .error {
    color: red;
}